# Omniverse
**/*.dmp
**/.thumbs

# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb

# IDE
**/.idea/
**/.vscode/
!.vscode

# Outputs
**/runs/*
**/logs/*
**/recordings/*
**/output/*
**/outputs/*
**/videos/*
**/wandb/*
**/.neptune/*
docker/artifacts/
*.tmp

# Isaac-Sim packman
_isaac_sim*
_repo
_build
.lastformat

# Large data files (override below to track specific motion/asset files)
*.pkl
*.zarr
